#chat-screen {
  height: calc(100% - 68px);

  #back-arrow:hover {
    cursor: pointer;
  }

  /* Conversation */

  .conversation {
    height: calc(100% - 12px);
    position: relative;
    background: $chat_background_color;
    z-index: 0;
  }

  .conversation #conversation-container {
    @include hide-scrollbar;

    /*height: calc(100% - 68px);*/
    height: calc(100% - 78px);
    box-shadow: inset 0 10px 10px -10px black;
    padding: 0 16px;
    margin-bottom: 5px;
  }

  .conversation #conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Messages */

  .message {
    color: black;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    /*z-index: -1; TODO*/
  }

  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }

  .play-button {
    cursor: pointer;
  }

  .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;

    .time {
      color: rgba(0, 0, 0, .45);
      font-size: 11px;
      display: inline-block;
    }

    .tick {
      display: inline-block;
      margin-left: 2px;
      position: relative;
      top: 4px;
      height: 16px;
      width: 16px;

      img {
        position: absolute;
        transition: .5s ease-in-out;
      }

      img:first-child {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: perspective(800px) rotateY(180deg);
        transform: perspective(800px) rotateY(180deg);
      }

      img:last-child {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
      }
    }

    .tick-animation {
      img:first-child {
        -webkit-transform: perspective(800px) rotateY(0);
        transform: perspective(800px) rotateY(0);
      }

      img:last-child {
        -webkit-transform: perspective(800px) rotateY(-179.9deg);
        transform: perspective(800px) rotateY(-179.9deg);
      }
    }
  }

  .message:first-child {
    margin: 16px 0 8px;
  }

  .message.received {
    background: #fff;
    border-radius: 0 5px 5px 5px;
    float: left;
  }

  .message.received .metadata {
    padding: 0 0 0 16px;
  }

  .message.received:after {
    border-width: 0 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
  }

  .message.sent {
    background: $message_background_color;
    border-radius: 5px 0 5px 5px;
    float: right;
  }

  .message.sent:after {
    border-width: 0 0 10px 10px;
    border-color: transparent transparent transparent $message_background_color;
    top: 0;
    right: -10px;
  }

  #message-select {
    background: transparent;
    padding: 0;
    margin-left: 8px;
    position: absolute;
    top: calc(100% - 105px);
    height: 24px;

    button {
      background: transparent;
      border: 0;
      cursor: pointer;
      outline: none;
      padding: 0;
    }

    .circle {
      background: $send_button_color;
      border-radius: 50%;
      color: #fff;
      position: relative;
      width: 24px;
      height: 24px;
    }

    .circle i {
      font-size: 24px;
    }

    #select-index-dots {
      background: transparent;
      display: inline-block;
    }

    .dot {
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;

      margin: 0 3px 3px;
    }

    .active {
      background-color: $send_button_color;
    }
  }

  /* Compose */

  .conversation-select {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 60px;
    width: 100%;
    z-index: 2;

    div, input {
      background: white;
      height: 100%;
    }

    .input-msg {
      @include hide-scrollbar;

      border: 0;
      flex: 1 1 auto;
      font-size: 14px;
      outline: none;
      min-width: 50px;
      margin-left: 8px;
      padding: 0 8px;
      border-radius: 5px 0 5px 5px;

      overflow: auto;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }

    .message-box-hook {
      flex: 0 0 auto;
      border-radius: 0 0 5px 0;
      text-align: center;
      position: relative;
    }

    .message-box-hook:after {
      border-width: 0 0 10px 10px;
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      position: absolute;
      width: 0;
      height: 0;
      content: "";
      top: 0;
      right: -10px;
    }

    .message-box-hook i {
      display: block;
      color: #7d8488;
      font-size: 24px;
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      left: 50%;
    }

    .send {
      background: transparent;
      border: 0;
      cursor: pointer;
      flex: 0 0 auto;
      margin-left: 8px;
      margin-right: 8px;
      padding: 0;
      position: relative;
      outline: none;

      .circle {
        background: $send_button_color;
        border-radius: 50%;
        color: #fff;
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .circle i {
        font-size: 24px;
        margin-left: 5px;
      }
    }
  }
}

/* Small Screens */
@media (max-width: 768px) {
  #chat-screen {
    height: calc(100vh - 42px);
  }

  #chat-screen #conversation-container {
    height: calc(100vh - 120px);
  }
}