#contact-list-screen {
  height: calc(100% - 25px);

  .contact-list {
    box-shadow: inset 0 10px 10px -10px #000000;
    background: #fff;
    overflow: auto;
    height: calc(100% - 55px);
  }

  .contact-list ::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }

  .contact-list ::-webkit-scrollbar-track {
    background: transparent;
  }

  .contact-list ::-webkit-scrollbar-thumb {
    background: #e9ebeb;
  }

  .contact {
    border-top: 1px solid #f2f2f2;
    font-size: 15px;
    padding: 5px 0;
    width: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    .information {
      padding-right: 8px;
      margin-left: 25px;
    }

    .information::after {
      content: "";
      clear: both;
      display: table;
    }

    .avatar {
      float: left;
      padding: 0 15px 0 13px;
    }

    .avatar img {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .name {
      float: left;
      width: 50%;
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 3px;
    }

    .message-preview {
      float: left;
      width: calc(100% - (48px + 15px + 13px));
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
    }

    .time {
      float: right;
      color: rgba(0, 0, 0, 0.45);
      font-size: 11px;
      margin-top: 4px;
    }
  }

  .contact:first-child {
    border-top: 0;
    padding-top: 6px;
  }

  .contact:hover {
    background: #b3ada7;
    cursor: pointer;
    border-top: 0;
    padding-top: 6px;
  }

  .contact::after {
    content: "";
    clear: both;
    display: table;
  }

  @media (max-width: 768px) {
    .contact-list {
      height: calc(100vh - 55px);
    }
  }
}