*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marvel-device .screen {
    text-align: left;
}

.screen-container {
    height: 100%;
}

/* Status Bar */

.status-bar {
    height: 25px;
    background: #004e45;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
}

.status-bar:after {
    content: "";
    display: table;
    clear: both;
}

.status-bar div {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 8px;
    font-weight: 600;
}


/* User Bar */

.menu-bar {
    height: 55px;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.menu-bar:after {
    content: "";
    display: table;
    clear: both;
}

.menu-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.menu-bar .actions {
    float: right;
    margin: 0 0 0 20px;
}

.menu-bar .actions.more {
    margin: 0 12px 0 32px;
}

.menu-bar .actions.attachment {
    margin: 0 0 0 30px;
}

.menu-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
}

.menu-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
}

.menu-bar .avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
}

.menu-bar .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
}

.menu-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
}


/* Small Screens */

@media (max-width: 768px) {
    .marvel-device.nexus5 {
        border-radius: 0;
        flex: none;
        padding: 0;
        max-width: none;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .marvel-device > .screen .chat {
        visibility: visible;
    }

    .marvel-device > .screen .contact-screen {
        visibility: visible;
    }

    .marvel-device {
        visibility: hidden;
    }

    .marvel-device .status-bar {
        display: none;
    }

    .screen-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}